@import '../../../assets/styles/atlas-sizes.scss';
@import '../../../assets/styles/atlas-colors.scss';
@import '../../../assets/styles/atlas-mixins.scss';
@import '../../../assets/styles/atlas-placeholders.scss';

.c-module-aside-menu {
  width: $atlasWidthAsideMenu;
  height: 100%;
  background-image: linear-gradient(180deg, $asideMenulinearColor 0%, $asideMenuGradientColor 100%);
  font-size: 14px;

  display: flex;
  flex-direction: column;

  &__container-logo {
    height: $atlasHeightHeader;
    padding-top: 1em;
    padding-bottom:39px;
    text-align: center;
    .icon-logo-atlas {
      color: $white;
      max-width: 109px;
      max-height: 37px;
      font-size: 2.3rem;
    }
    &-hr {
      background-color: rgba(255, 255, 255, .3);
      border-style: none;
      width: 253px;
      height: 1px;
      margin-top: 13px;
    }
  }
  &__container-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    &-button {
      display: flex;
      align-items: center;

      background: $white;
      border: none;
      border-radius: 50px;
      @include box-shadow(0, 0, 20px, 0, rgba(0, 0, 0, .3));
      cursor: pointer;
      color: $asideMenuFontColor;
      width: 253px;
      height: 40px;
      margin-bottom: 2em;
      .icon-ic-home {
        float: left;
        padding-left: 22px;
        transform: scale(1.3);
      }
      &--label {
        cursor: inherit;
        font-size: 13px;
        font-weight: 500;
        float: left;
        padding-left: 32px;
      }
      &:active {
        box-shadow: none;
      }
      &:active, &:focus {
        @extend %remove-outline;
      }
    }
  }
}
