// Colors are used into atlas application //

  // main atlas project
  $backgroundColor: #EDF3F0 !default;
  $white: #FFF !default;

  // aside menu colors
  $asideMenulinearColor: #00B286 !default;
  $asideMenuGradientColor: #0081A7 !default;
  $asideMenuFontColor: #00A685 !default;

  // header
  $headerIconColor: #9B9B9B !default;
  $headerLabelPersonColor: #4A4A4A !default;
