@import '../../../assets/styles/atlas-sizes.scss';
@import '../../../assets/styles/atlas-colors.scss';
@import '../../../assets/styles/atlas-mixins.scss';

.c-module-atlas {
  background: $backgroundColor url('../../../assets/images/waves.svg') no-repeat bottom right;
  display: flex;
  max-width: 100%;
}

.c-module-content {
  width: calc(100% - #{$atlasWidthAsideMenu});
  &__container-header {
    background: $white;
    @include box-shadow(0, 0, 5px, 0, rgba(0, 0, 0, .2));
    height: $atlasHeightHeader;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 24px;

    .icon {
      color: $headerIconColor;
      margin-right: 8px;
    }

    &-label {
      margin-right: $atlasContentRightPadding - 1;
      color: $headerLabelPersonColor;

      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
    }
  }
  &-main {
    display: flex;
    justify-content: flex-end;
    height: calc(100vh - #{$atlasHeightHeader});

    padding-right: $atlasContentRightPadding;

    &__container {
      width: 90%; // of max-width: 1440px
      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-title {
          margin-bottom: 24px;
          &-h1 {
            color: $titleTableColor;
            font-family: Gilroy;
            font-size: 36px;
            font-weight: 800;
            line-height: 43px;
          }
          &-h2 {
            color: $titleTableColor;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
          }
        }
      }
      &-table {
        background: $white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.23),
                    0 0 2px 0 rgba(0, 0, 0, 0.11);
        border-radius: 6px;
        width: 100%;
        height: 70%;
        &-title {
          color: $titleTableColor;
          font-family: Roboto;
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          padding: 24px;
        }
      }
    }
  }
}
