@import '../../../assets/styles/atlas-colors.scss';
@import '../../../assets/styles/atlas-mixins.scss';

.c-module-atlas {
  background: $backgroundColor url('../../../assets/images/waves.svg') no-repeat bottom right;
  display: flex;
  width: 100%;
  height: auto;

  @include mobile {
    flex-direction: column;
  }

  app-content {
    width: 100%;
  }
}
